@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

nav {
    background-color: #8CD8F0;
    overflow: hidden;
    position: relative;
    padding: 20px;
    text-align: end;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    width: 110px;
    height: 50px;
    margin: 0 10px;
    background-color: white;
    border-radius: 30px;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #8CD8F0;
    padding: 10px;
}

a:hover {
    background-color: white;
    color: #F28B8B;
}

.logo {
    cursor: pointer;
    size: 0.5;
    position: absolute;
    left: 0;
    top: 0;
}

.purple-blob {
    position: relative;
    bottom: -200px;
    float: right;
}

.pink-blob {
    position: relative;
    left: 0;
    top: -20px;
}

h1 {
    position: relative;
}

.header {
    position: relative;
}

.headerbackground {
    position: absolute;
    top: 250px;
    left: 55px;
    font-size: 40px;
}


.description {
    position: absolute;
    bottom: 100px;
    left: 100px;
}