.navbar {
    background-color: #FFF495;
    overflow: hidden;
}

.navbar a {
    float: right;
    text-align: center;
    padding: 14px 16px;
}

.navbar a:hover {
    background-color: white;
    color: #F28B8B;
}